.login-container {
  height: 100vh;
  background: url('../../assets/slike/pozadina3.jpg') no-repeat center center fixed;
  background-size: cover;
  font-family: 'Arial', sans-serif;
  padding: 1rem;
}

.login-form {
  background: rgba(255, 255, 255, 0.5) !important; /* Poluprovidna bela pozadina */
  padding: 2rem !important;
  border-radius: 12px !important;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15) !important;
  width: 100% !important;
  max-width: 400px !important;
  text-align: center !important;
}

@media (max-width: 768px) {
  .login-form {
    padding: 1.5rem !important;
    width: 90% !important;
  }
}